name: Deploy the init modules

on:
  workflow_dispatch:
    inputs:
      env:
        description: Environment to deploy to
        type: environment
        required: true

env:
  NODE_VERSION: 14
  VAULT_ADDR: https://vault.factory.adeo.cloud
  VAULT_NAMESPACE: /adeo/metric

jobs:
  deploy_with_init:
    name: Deploy the ACL after running the init modules
    runs-on: ubuntu-20.04
    steps:
      - name: Parse environment
        run: |
          env=(${${{ inputs.env }}//-/ })
          echo "INPUT_ENV=${env[0]}" >> $GITHUB_ENV

      - name: Import secrets from Vault Openshift
        uses: hashicorp/vault-action@v2.3.1
        with:
          url: ${{ env.VAULT_ADDR }}
          namespace: ${{ env.VAULT_NAMESPACE }}
          method: approle
          roleId: ${{ secrets.VAULT_ROLE_ID }}
          secretId: ${{ secrets.VAULT_SECRET_ID }}
          secrets: |
            secret/data/acl/continuous_integration/$ENV DATABASE_HOST;
